html { /* font-size: 62.5% now means that 1.0 rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import "_checkbox.scss";

