@import "_checkbox.scss";

html { font-size: 62.5%; } /* font-size: 62.5% now means that 1.0 rem = 10px */

body {
  font-family: Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}